:root {
  --btnPrimaryColor: #536DFE;
  --mainTransition: all 0.3s linear;
}

.app-header {
  font-size: 62px;
  margin: 40px 0 75px 0;
  text-align: center;
  font-family: 'Unlock', cursive;
}

.searchform {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.searchbar {
  display: flex;
  flex-basis: 80%;
  margin-left: 30px;
  padding: 20px;
  font-size: 48px;
}

.btn {
  display: flex;
  flex-basis: 20%;
  margin-right: 30px;
  padding: 20px;
  font-size: 48px;
  border: 3px solid var(--btnPrimaryColor);
  background: var(--btnPrimaryColor);
  transition: var(--mainTransition);
  color: #fff;
  text-align: center;
}

.btn:hover {
  background: transparent;
  color: var(--btnPrimaryColor);
  cursor: pointer;
}

.btn-error {
  display: inline-block;
  text-decoration: none;
  letter-spacing: 3px;
  color: #fff;
  background: var(--btnPrimaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--btnPrimaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-error:hover {
  background: transparent;
  color: var(--btnPrimaryColor);
  cursor: pointer;
}

.error {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}

.error img {
  width: 50%;
}
